<html>
    <head></head>
    <body>
        <div>
            <h1>User Form</h1>
            <form action="/user/add" method="POST">
                <div>
                    <label for="name">Name:</label>
                </div>
                <div>
                    <input type="text" name="name"/>
                </div>
                <div>
                    <label for="email">Email:</label>
                </div>
                <div>
                    <input type="email" name="email"/>
                </div>
                <button type="submit">Submit</button>
            </form>
            
        </div>
    </body>
</html>