<html>
    <head></head>
    <body>
        <form action="/user/add" method="post">
        <div>
            <h1>Form Page</h1>
            <div>
                <label for="fullname">Name:</label>
                <div>
                    <input type="text" id="fullname" name="fullname"/>
                </div>
            </div>
            <div>
                <label for="email">Email:</label>
                <div>
                    <input type="email" id="email" name="email"/>
                </div>
            </div>
            <div>
                <label for="age">Age:</label>
                <div>
                    <input type="number" id="age" name="age"/>
                </div>
            </div>
            <div>
                <label for="city">City:</label>
                <div>
                    <input type="text" id="city" name="city"/>
                </div>
            </div>
            <div>
                <label for="profession">Profession:</label>
                <div>
                    <input type="text" id="profession" name="profession"/>
                </div>
            </div>
        </div>
        <button type="submit">Submit</button>
        </form>
    </body>
</html>