<html>
    <head>

    </head>
    <body>
        <div>
            <ul>
                <% for(let i=0;i<users.length;i++) { %>
                    <li>
                        <%= users[i].username %>
                    </li>
                <% } %>
            </ul>
            
        </div>
    </body>
</html>